<div class="mt-4">
    <h3>New Course</h3>
    <form method="POST" action="/course/store">
        <div class="mb-3">
            <label for="course-name" class="form-label">Course name</label>
            <input type="text" class="form-control" id="course-name" name="name">
            {{!-- <div id="emailHelp" class="form-text"></div> --}}
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description"></textarea>
            {{!-- <div id="emailHelp" class="form-text"></div> --}}
        </div>

        <div class="mb-3">
            <select class="form-select" name="level" id="level">
                <option selected>--Select Level--</option>
                <option value="Easy">Easy</option>
                <option value="Normal">Normal</option>
                <option value="Hard">Hard</option>
            </select>

            {{!-- <label for="level" class="form-label">Level</label>
            <input type="text" class="form-control" id="level" name="level"> --}}
            {{!-- <div id="emailHelp" class="form-text"></div> --}}
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Video ID</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
            {{!-- <div id="emailHelp" class="form-text"></div> --}}
        </div>
        <button type="submit" class="btn btn-primary">Add Course</button>
    </form>
</div>